Table: Employees

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| employee_id | int     |
| name        | varchar |
+-------------+---------+
employee_id is the primary key for this table.
Each row of this table indicates the name of the employee whose ID is employee_id.
 

Table: Salaries

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| employee_id | int     |
| salary      | int     |
+-------------+---------+
employee_id is the primary key for this table.
Each row of this table indicates the salary of the employee whose ID is employee_id.
 

Write an SQL query to report the IDs of all the employees with missing information. The information of an employee is missing if:

The employee's name is missing, or
The employee's salary is missing.
Return the result table ordered by employee_id in ascending order.

The query result format is in the following example.

 

Example 1:

Input: 
Employees table:
+-------------+----------+
| employee_id | name     |
+-------------+----------+
| 2           | Crew     |
| 4           | Haven    |
| 5           | Kristian |
+-------------+----------+
Salaries table:
+-------------+--------+
| employee_id | salary |
+-------------+--------+
| 5           | 76071  |
| 1           | 22517  |
| 4           | 63539  |
+-------------+--------+
Output: 
+-------------+
| employee_id |
+-------------+
| 1           |
| 2           |
+-------------+
Explanation: 
Employees 1, 2, 4, and 5 are working at this company.
The name of employee 1 is missing.
The salary of employee 2 is missing.

In [1]:
import pyspark

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col

In [3]:
spark = SparkSession.builder.getOrCreate()

In [8]:
schema1 = StructType([StructField('employee_id', IntegerType(), True),
                      StructField('name', StringType(), True)])

In [9]:
schema2 = StructType([StructField('employee_id', IntegerType(), True),
                      StructField('salary', IntegerType(), True)])

In [10]:
data1 = [(2,'crew'),(4,'haven'),(5,'kristian')]

In [11]:
data2 = [(5, 8900),(1, 2345), (4,980)]

In [12]:
emp = spark.createDataFrame(data = data1, schema = schema1)

In [13]:
salary = spark.createDataFrame(data = data2, schema = schema2)

In [14]:
emp.show()

+-----------+--------+
|employee_id|    name|
+-----------+--------+
|          2|    crew|
|          4|   haven|
|          5|kristian|
+-----------+--------+

In [15]:
salary.show()

+-----------+------+
|employee_id|salary|
+-----------+------+
|          5|  8900|
|          1|  2345|
|          4|   980|
+-----------+------+

In [22]:
emp.join(salary, ['employee_id'], 'outer').filter(col('name').isNull() | col('salary').isNull()).select('employee_id').show()

+-----------+
|employee_id|
+-----------+
|          1|
|          2|
+-----------+

In [24]:
salary.createOrReplaceTempView('salary')

In [25]:
emp.createOrReplaceTempView('emp')

In [33]:
spark.sql('select s.employee_id from emp e left outer join salary s on e.employee_id = s.employee_id;').show()

+-----------+
|employee_id|
+-----------+
|       null|
|          4|
|          5|
+-----------+