Table: Seat

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| student     | varchar |
+-------------+---------+
id is the primary key column for this table.
Each row of this table indicates the name and the ID of a student.
id is a continuous increment.
 

Write an SQL query to swap the seat id of every two consecutive students. If the number of students is odd, the id of the last student is not swapped.

Return the result table ordered by id in ascending order.

The query result format is in the following example.

 

Example 1:

Input: 
Seat table:
+----+---------+
| id | student |
+----+---------+
| 1  | Abbot   |
| 2  | Doris   |
| 3  | Emerson |
| 4  | Green   |
| 5  | Jeames  |
+----+---------+
Output: 
+----+---------+
| id | student |
+----+---------+
| 1  | Doris   |
| 2  | Abbot   |
| 3  | Green   |
| 4  | Emerson |
| 5  | Jeames  |
+----+---------+
Explanation: 
Note that if the number of students is odd, there is no need to change the last one's seat.

In [13]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
from pyspark.sql.functions import col

In [7]:
spark = SparkSession.builder.getOrCreate()

In [8]:
schema1 = StructType([StructField('id', IntegerType(), True),
                      StructField('student', StringType(), True)])

In [9]:
data1 = [(1 , 'Abbot'   ),
( 2  , 'Doris'   ),
( 3  , 'Emerson' ),
( 4  , 'Green'   ),
( 5  , 'Jeames')]

In [10]:
seat = spark.createDataFrame(data = data1, schema = schema1)

In [12]:
seat.show()

+---+-------+
| id|student|
+---+-------+
|  1|  Abbot|
|  2|  Doris|
|  3|Emerson|
|  4|  Green|
|  5| Jeames|
+---+-------+

In [18]:
even = seat.filter(col('id')%2==0).withColumn('id', col('id')-1)

In [19]:
even.show()

+---+-------+
| id|student|
+---+-------+
|  1|  Doris|
|  3|  Green|
+---+-------+

In [35]:
odd = seat.filter((col('id') < seat.count()) & (col('id')%2==1)).withColumn('id', col('id')+1)

In [36]:
odd.show()

+---+-------+
| id|student|
+---+-------+
|  2|  Abbot|
|  4|Emerson|
+---+-------+

In [41]:
left = seat.filter((col('id') == seat.count()))

In [42]:
left.show()

+---+-------+
| id|student|
+---+-------+
|  5| Jeames|
+---+-------+

In [44]:
even.union(odd).union(left).sort(col('id').asc()).show()

+---+-------+
| id|student|
+---+-------+
|  1|  Doris|
|  2|  Abbot|
|  3|  Green|
|  4|Emerson|
|  5| Jeames|
+---+-------+